select, select:focus {
    border: 0;
    outline: 0;
    color: #0066FF;
    font-size: 1rem;
}

#project-label {
    height: fit-content;
}

#logout-button {
    color: #0066FF;
    cursor: pointer;
}


.header-container {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

@media (max-width: 475px) {
    select, select:focus {
        font-size: 0.825rem;
    }

    .header-container {
        font-size: 0.825em;
    }

    #logged-in-message {
        display: none;
    }
}