#project-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #FFF;
    overflow: hidden;
    padding: 1.5em;
}

#all-task-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}