.task-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
}

.parent-task-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.task-title {
    font-size: 1rem;
}

.task-status-icon {
    width: 1em;
    height: 1em;
}

.sub-task-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.task-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #0066FF;
    gap: 0.25em;
    margin-left: 0.25em;
}

.completed-task {
    text-decoration-line: line-through;
    color: rgba(60, 59, 73, 0.4);
}

.normal-task-container {
    width: 100%;
}

.draggable-container {
    display: flex;
    align-items: center;
}

@media (max-width: 475px) {
    .task-title {
        font-size: 0.825rem;
    }

    .task-status-icon {
        width: 0.825em;
        height: 0.825em;
    }
}

