.add-task-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#add-task-container {
    width: fit-content;
    color: #3C3B4966;
}

#add-task-container:hover {
    color: #00AFBF;
}

#add-task-icon {
    height: 1em;
    width: 1em;
}

.task-form-input {
    margin: 0;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .task-form-input {
        font-size: 0.825rem;
    }
}

@media (max-width: 475px) {
    #add-task-icon {
        width: 0.825em;
        height: 0.825em;
    }

    .task-form-input {
        width: 50%;
        font-size: 0.75em;
    }
}